<!-- Entend the base.html template -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

{% block extra_title %}
- Edit a Plan
{% endblock %}


<!-- Block page header -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Content block -->
{% block content %}
    <!-- Checkout -->
    <div class="container txt-shadow text-dark">
        <div class="row text-light">
            <div class="col-12 w-100 text-center">
                <hr>
                <h1 class="display-4 display-md-3 text-uppercase text-white ">Plan Management</h1>
                <h3 class="display-6">Edit {{ workout.name }}</h3>
                <hr>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-md-6 offset-md-3 text-center">
                <form action="{% url 'edit_workout' workout.id %}" method="POST" class="form form-control mb-2 rounded-2"
                    enctype="multipart/form-data">
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a href="{% url 'workouts' %}" class="btn btn-back rounded-2 text-uppercase">Cancel</a>
                        <button type="submit" class="btn btn-landing-page rounded-2 text-uppercase">Edit Plan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
<!-- End Content block -->
<!-- Postload_js -->
{% block postload_js %}
<script>
    // When image is changed
    $("#new-image").change(function() {
        // Get the file
        let file = $("#new-image")[0].files[0];
        // Set the text in the widget template to the file name
        $("#new-image").text(`Image will be set to: ${file.name}`);	
    });
</script>
{% endblock %}
<!-- End Postload_js -->