<!-- Entend the base.html template -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

<!-- Block page header -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- Content block -->
{% block content %}
    <!-- Workout details page -->
    <div class="container-fluid text-center txt-shadow">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="image-container shadow my-5">
                    <!-- Workout plan image -->
                    {% if workout.image %}
                    <a href="{{ workout.image.url }}" target="_blank">
                        <img class="card-img-top border border-dark img-fluid" src="{{ workout.image.url }}" alt="{{ workout.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top border border-dark img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ workout.name }}">
                    </a>
                    {% endif %}
                    <!-- END Workout plan image -->
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-5 mt-md-5">
                    <!-- name and description -->
                    <h1 class="mb-0">{{ workout.name }}</h1>
                    <hr class="mb-5 mt-0">
                    <p class="mb-3 fs-5">{{ workout.description }}</p>
                    <p class="text-center">
                        <span class="text-uppercase">Equipment needed:</span>
                        <br>
                        <span class="">{{ workout.equipment_required }}</span>
                    </p>
                    <!-- END name and description -->
                    <!-- Duration, weekly checkin and workout length -->
                    <ul>
                        <li class="mb-3">
                            <span>Duration: </span>
                            <span>{{ workout.plan_duration }}</span>
                        </li>
                        <li class="mb-3">
                            <span>Weekly checkin: </span>
                            <span >{{ workout.weekly_checkin }}</span>
                        </li>
                        <li class="mb-3">
                            <span>Length: </span>
                            <span>{{ workout.length_of_workout }}</span>
                        </li>
                    </ul>
                    <!-- END Duration, weekly checkin and workout length -->
                    <!-- Price -->
                    <div class="workout-price mb-3">
                        <span class="workout-details-label">Price:</span>
                        <span class="workout-details-value">{{ workout.price }}</span>
                    </div>
                    <!-- Add to cart form -->
                    <form action="{% url 'add_to_cart' workout.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <a href="{% url 'workouts' %}" class="btn btn-back rounded-2 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Back</span>
                                </a>
                                <input type="submit" class="btn btn-landing-page rounded-2 text-uppercase mt-5" data-item_id="{{ workout.id }}"
                                    value="Add to Cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                    <!-- END Add to cart form -->
                </div>
            </div>
        </div>
    </div>
    <!-- Workout reviews -->
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="text-uppercase text-center mb-3">Reviews</h2>
                <hr>
                <div class="reviews-container text-center">
                    <!-- Review card -->
                    {% for review in reviews.all %}
                    <div class="card mt-5 rounded-2">
                        <div class="card-body">
                            <p class="small text-start">By {{ review.user }} on {{ review.date|date:"d-m-y" }}</p>
                            <p class="card-title text-capitalize">{{ review.review_title }}
                            <i class="fas fa-star"></i>
                            {{ review.rating }}/5    
                            </p>
                            <p class="card-text">{{ review.comment }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <div class="text-center my-4">
                        <p class="fs-5">No reviews yet</p>
                        <hr>
                    </div>
                    {% endfor %}
                    <!-- END Review card -->
                </div>
            </div>
        </div>
        <!-- End Workout reviews -->
        <!-- Review form -->
        <div id="review-form" class="row justify-content-center">
            <div class="col-12 col-md-6">
                {% if request.user.is_authenticated %}
                <h3 class="text-center my-2 text-uppercase mb-3">Leave a review</h3>
                {% else %}
                <p class="text-center my-3">
                    <a class="btn btn-back" href="{% url 'account_signup' %}">Signup</a>
                    or
                    <a class="btn btn-landing-page" href="{% url 'account_login' %}">Login</a>
                    to write a review
                </p>
                {% endif %}
                {% if request.user.is_authenticated %}
                <form action="{% url 'add_review' workout.id %}" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center mt-3">
                        <button class="btn btn-landing-page rounded-2 text-uppercase" type="submit">Submit Review</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
        <!-- End Review form -->
        <!-- END Workout details page -->
    </div>
    
{% endblock %}
<!-- End Content block -->

{% block postload_js %}
    {{ block.super }}
{% endblock %}