<!-- Entend the base.html template -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

<!-- Block page header -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- Content block -->
{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2 text-dark">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Cart</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- Only render the table if plan in the cart -->
                {% if cart_plan %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <p class="lead mb-5">Your Cart is empty.</p>
                    <a href="{% url 'workouts' %}" class="btn btn-outline-dark rounded-2 btn-lg">
                        <span class="icon">
                            <i class="fas fa-dumbbell"></i>
                        </span>
                        <span class="text-capitalize">Checkout Plans</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
<!-- End Content block -->