<!-- Entend the base.html template -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

<!-- Block page header -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- Content block -->
{% block content %}
    <!-- Cart -->
    <div class="container mb-2">
        <div class="row text-light txt-shadow">
            <div class="col-12 w-100">
                <hr>
                <h1 class="display-4 display-md-3 text-uppercase text-white text-center">Cart</h1>
                <hr>
            </div>
        </div>
    </div>
        <!-- If items in cart_items list, display -->
        {% if cart_items %}
            <!-- loop through and display cart_items -->
            {% for item in cart_items %}
                <div class="container txt-shadow mb-2">
                    <div class="row align-items-baseline text-center">
                        <div class="col-md-3 pb-3">
                            {% if item.workout.image %}
                                <img class="card-img-top img-fluid" src="{{ item.workout.image.url }}"
                                    alt="{{ item.workout.name }}">
                            {% else %}
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.workout.name }}">
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <h4>{{ item.workout.name }}</h4>
                        </div>
                        <div class="col-md-3 mt-3">
                            <h4>Price</h4>
                            <p>€ {{ item.workout.price }}</p>
                        </div>
                        <div class="col-md-3 mt-3">
                            <h4>Plan duration</h4>
                            <p>{{ item.workout.plan_duration }}</p>
                        </div>
                    </div>
                </div>
                <!-- Remove item cart button -->
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-3">
                            <form action="{% url 'remove_from_cart' item.item_id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" data-item_id="{{ item.item_id }}" name="workout_id" value="{{ item.workout.id }}">
                                <button type="submit"  id="remove_{{ item.item_id }}" class="remove-item btn btn-danger">Remove item</button>
                            <!-- <a data-item_id="{{ item.workout.item_id }}" class="remove-item btn btn-sm btn-danger">Remove Plan</a> -->
                        </div> 
                    </div>
                    <hr>
                </div>
            {% endfor %}
            <div class="container txt-shadow">
                <div class="row">
                    <!-- Total price display -->
                    <div class="col-12 mt-3">
                        <h4 class="mt-2"><strong>Total: €{{ total }}</strong></h4>
                    </div>
                    <!-- END Total price display -->
                    <!-- Action buttons -->
                    <div class="col-12 mt-1">
                        <a href="{% url 'workouts' %}" class="btn btn-back rounded-2 btn-lg me-4 my-3">
                            <span class="icon">
                                <i class="fas fa-dumbbell"></i>
                            </span>
                            <span class="text-uppercase ps-1">Back to Plans</span>
                        </a>
                        <a href="{% url 'checkout' %}" class="btn btn-landing-page float-end rounded btn-lg my-3">
                            <span class="text-uppercase pe-1">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-credit-card"></i>
                            </span>
                        </a>
                    </div>
                    <!-- END Action buttons -->
                </div>
            </div>
            <!-- END loop through and display cart_items -->
        {% else %}
            <!-- If cart_items list is empty, Display -->
            <div class="container mb-2 text-center text-light txt-shadow">
                <div class="row">
                    <div class="col">
                        <h4>Your cart is empty</h4>
                        <a href="{% url 'workouts' %}" class="btn btn-landing-page rounded-2 btn-lg my-5">
                            <span class="icon">
                                <i class="fas fa-dumbbell"></i>
                            </span>
                            <span class="text-uppercase ps-1">Checkout our Plans</span>
                        </a>
                    </div>
                </div>
            </div> 
            <!-- END If cart_items list is empty, Display -->  
        {% endif %}
    <!-- END Cart -->
{% endblock %}
<!-- End Content block -->

<!-- postloadjs block -->
{% block postload_js %}
{{ block.super }}
    <script type="text/javascript">
        // Remove item from cart
        $(".remove-item").click((e) => {
            e.preventDefault();
            let csrfToken = "{{ csrf_token }}"; // Get CSRF token
            let itemId = $(e.target).attr("id").split("remove_")[1]; // Get item id from button id
            let url = `/cart/remove/${itemId}/`; // Get url to remove item from cart 
            let data = { // data object used to send to url
                'csrfmiddlewaretoken': csrfToken
            };

            // When done reload page
            $.post(url, data)
                .done(() => {
                    location.reload();
                });
        });
    </script>
{% endblock %}