<!-- Entend the base.html template -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

<!-- Block page header -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- Content block -->
{% block content %}
    <!-- Landing page -->
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="container-position col-7 col-md-6 my-auto text-center">     
                <div class="my-3">
                    <h2 class="display-3 textwrap fw-light txt-shadow">Begin your transformation now!</h2>
                </div>
                <div class="text-wrap fw-lighter txt-shadow">
                    <p class="fst-italic fs-4">
                        Create your goals and let me help you achieve them.
                        anytime, anywhere.
                    </p>
                </div>
                <div class="my-5">
                    <h4><a type="button" class="btn btn-lg btn-landing-page rounded-3 text-uppercase py-3" href="">Learn
                            More</a></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- END Landing page -->
{% endblock %}
<!-- End Content block -->