<!-- Entend the base.html template -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

<!-- Block page header -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- Content block -->
{% block content %}
    <!-- Landing page -->
    <div class="container-fluid text-center h-100">
        <div class="home-container d-flex justify-content-center w-100 h-100 p3 mx-auto flex-column">
            <div class="px-3">
                <h2 class="txt-shadow display-5 display-md-3 fw-light">Begin your transformation today</h2>
                <p class="txt-shadow fw-light fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque exercitationem
                </p>
                <p>
                    <a href="{% url 'workouts' %}" class="btn btn-lg btn-landing-page rounded-3 text-uppercase py-3">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    <!-- END Landing page -->
{% endblock %}
<!-- End Content block -->