<!-- Entend the base.html template -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

{% block extra_title %}
- Profile
{% endblock %}

<!-- Extra CSS file -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

<!-- Block page header -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Content block -->
{% block content %}

<!-- Profile -->
<div class="container mb-5 text-dark">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="text-uppercase mb-4">{{ user }}'s Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <!-- Billing details -->
        <div class="col-12 col-lg-6">
            <h3 class="text-muted">Your Billing Details</h3>
            <form action="{% url 'profile' %}" method="post" class="mt-3" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy}}
                <button type="submit" class="btn text-uppercase btn-landing-page rounded-2 float-end">Update Information</button>
            </form>
        </div>
        <!-- END Billing details -->
        <!-- Order history -->
        <div class="col-12 col-lg-6">
            <h3 class="text-muted">Order History</h3>
            <div class="order-history table-responsive">
                <table class="table table-sm">
                    <!-- Table headers -->
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Plan</th>
                            <th>Plan Duration</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <!-- END Table headers -->
                    <!-- Table body -->
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="order.order_number">
                                    <!-- Limit to 8 chars unless hovered over -->
                                    {{ order.order_number|truncatechars:8 }}
                                </a>
                            </td>
                            <td>
                                {{ order.date }}
                            </td>
                            <td>
                                {% for item in order.lineitems.all %}
                                {{ item.workout.name }}  
                            </td>
                            <td>
                                {{ item.workout.plan_duration }}
                            </td>{% endfor %}
                            <td>{{ order.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <!-- END Table body -->
                </table>
            </div>
        </div>
        <!-- END Order history -->
    </div>
</div>
{% endblock %}
<!-- End Content block -->
<!-- postload_js -->
{% block postload_js %}
{{ block.super}}
<script src="{% static 'profiles/scripts/profile.js' %}"></script>
{% endblock %}
