<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav offset-1 w-75 justify-content-around mb-2 mb-lg-0">
        <!-- Home -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <!-- END Home -->
        <!-- Workout plans -->
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="workout-plan-links"
                data-bs-toggle="dropdown" role="button" aria-expanded="false">
            Workout Plans
            </a>
            <ul class="dropdown-menu" aria-labelledby="workout-plan-links">
                <li class="dropdown-item">
                    <a href="{% url 'workouts' %}?category=home_workout_plans">Home Workout Plans</a>
                </li>
                <li class="dropdown-item">
                    <a href="{% url 'workouts' %}?category=gym_workout_plans">Gym Workout Plans</a>
                </li>
                <li class="dropdown-item">
                    <a href="{% url 'workouts' %}?category=prenatal_workout_plans">Prenatal Plans</a>
                </li>
                <li class="dropdown-item">
                    <a href="{% url 'workouts' %}?category=postnatal_workout_plans">Postnatal Plans</a>
                </li>
                <li class="dropdown-item">
                    <a href="{% url 'workouts' %}">All Plans</a>
                </li>
            </ul>
        </li>
        <!-- END Workout plans -->
        <!-- About -->
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <!-- END About -->
        <!-- Contact -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_form' %}">Contact</a>
        </li>
        <!-- END Contact -->
    </ul>
</div>