<!-- Extend the base.html template -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

{% block extra_title %}
- Contact
{% endblock %}


<!-- Block page header -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="container txt-shadow">
    <div class="row my-4">
        <div class="col text-center">
            <hr>
            <h2 class="text-uppercase mb-4">Contact Us</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <h3 class="mb-4">Where to find us <hr></h3>
            <!-- Google Map -->
            <div class="map-container">
                <div id="map" class="map">
                    <iframe width="600" height="400" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJYwcDYh9lZ0gRoH8xl6nHAAo&key={{google_maps_api_key}}"></iframe>
                </div>
            </div>
        </div>
        <!-- END Google Map -->
        <div class="col-12 col-md-6 text-center">
            <h3 class="mb-4">Contact Details <hr></h3>
            <p>
                <i class="fas fs-3 fa-map-marker-alt"></i>
                <span>
                    <strong class="fs-4">Address:</strong>
                    <br>
                    <span>
                        <strong>
                            Kilcock, Commons East, Co. Kildare
                        </strong>
                    </span>
                </span>
            </p>
            <p>
                <i class="fas fs-3 fa-phone"></i>
                <span>
                    <strong class="fs-4">Phone:</strong>
                    <br>
                    <span>
                        <strong>
                            083-844-8444
                        </strong>
                    </span>
                </span>
            </p>
            <p>
                <i class="fas fs-3 fa-envelope"></i>
                <span>
                    <strong class="fs-4">Email:</strong>
                    <br>
                    <span>
                        <strong>
                            coachedbycaoimhe@gmail.com
                        </strong>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 text-center mx-auto">
            <p class="fs-3 fw-light">
                If you have any questions or comments, please feel free to contact us.
            </p>
            <form action="{% url 'contact_form' %}" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-landing-page mb-5 rounded-2 " type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<!-- END Loading overlay -->
{% endblock %}
<!-- End Content block -->
<!-- postload_js block -->
{% block postload_js %}
{{ block.super }}

{% endblock %}
<!-- END postload_js block -->